{# ---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: /about
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <!-- <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p> -->

                <h2 class="cs-title">Hello! I'm Dave.</h2>
                <p class="cs-text">Nice to meet you. I am, among many things, a software engineer, a web designer, a baker, a musician, and occasionally, a barista. <em>Cardinal Creations</em> is the name of my web design business. The inspiration for the name is two-fold: the definition of the word cardinal, and my grandfather.</p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        cardinal: of the greatest importance; fundamental.
                    </p>
                </div>
                <p class="cs-text">In this day and age, <strong>everything</strong> is online. Whether that is a good thing is a totally separate discussion (maybe you'll find some thoughts about it in my <a href="/blog">blog</a>!), but it is a difficult proposition to argue against. Therefore, as a small business, you <strong>must</strong> have an online presence. Somewhere you can point potential customers or clients to prove you are <em>
                        <strong>legitimate</strong>
                    </em>, somewhere you can <em>
                        <strong>display your work</strong>
                    </em>, somewhere you can <em>
                        <strong>sell your work.</strong>
                    </em>
                </p>
                <h2 class="cs-title">Why Cardinal Creations</h2>
                <p class="cs-text">I believe that having a great website should be of upmost importance to a modern business, a <em>cardinal principle,</em> if you will. That is one of the reasons I chose the name <em>Cardinal Creations.</em> The other, more personal reason, has to do with my grandfather, who passed away in September of 2023. When I was a child, my grandfather and I spent a lot of time together: watching movies, going fishing at the crack of dawn, metal detecting, and bird watching at his kitchen table.</p>
                <p class="cs-text">He built a bird feeder and set it up outside of the kitchen window, and we would eat slices of whole wheat toast with butter (he's the first person to introduce me to the idea of bread that <strong>wasn't</strong> pale, flaccid, and tasteless, so he was tangentially the inspiration for my love of baking bread, as well!) and watch birds perch on the feeder. He would tell me about the different kind of birds that we'd see, and his favorite bird was, you guessed it, the cardinal. Naturally, it is my favorite bird, too.</p>
                <h2 class="cs-title">What Now</h2>
                <p class="cs-text">Okay, okay, a sentimental backstory isn't what I'm supposed to be pitching you, what I should really be doing is trying to <em>
                        <strong>convince you</strong>
                    </em> that you should <em>
                        <strong>purchase</strong>
                    </em> my services, right? That's what a business is all about, after all. Well, I think having a more personal connection with the people that you work with is one of the <em>great</em> benefits of running/working with a small business. I've told you a little bit about me (and you can learn more about me and the things I do by reading through my <a href="/blog/">blog</a>), and hopefully, you'll tell me a little bit about <em>you</em>, by going to my <a href="/contact/">contact page</a> and sending me an email or shooting me a message on social media! If you wanna see my work, check out my <a href="/projects/">projects</a>. I hope you like it, and I hope I hear from you soon!</p>
                <a href="/portfolio" class="cs-button-solid">Our Portfolio</a>
            </div>
        </section>

        {% include 'components/cta.html' %}

    {% endblock %} #}