/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #hero {
        font-family: "Nocturne", "Arial", sans-serif;
        /* Centers button */
        text-align: center;
        /* changes on tablet */
        padding: 0 calc(16 / 16 * 1rem);
        padding-bottom: calc(100 / 16 * 1rem);
        position: relative;
        z-index: 1;
        /* prevents overflow from the lines extending past the screen width */
        overflow: hidden;

        .cs-picture {
            /* Background Image */
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Black Color Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                width: 100%;
                height: 100%;
                /* Makes image act like a background-image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1em);
            margin: auto;
            /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
            /* 144px - 280px - leaving extra space for the navigation */
            /* changes on tablet */
            padding: clamp(9em, 25.95vw, 17.5em) 0;
            position: relative;

            &:before {
                /* Left Line */
                content: "";
                width: 1px;
                height: 100%;
                background: -moz-linear-gradient(
                    top,
                    rgba(250, 251, 252, 0.5) 0%,
                    rgba(250, 251, 252, 0) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    top,
                    rgba(250, 251, 252, 0.5) 0%,
                    rgba(250, 251, 252, 0) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-flex-group {
            width: 80vw;
            /* 464px - 562px */
            max-width: clamp(29em, 60vw, 35.125em);
            margin: auto;
            /* 60px - 220px */
            margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .cs-topper {
            text-align: center;
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--primary);
        }

        .cs-title {
            text-align: center;
            width: 100%;
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            text-align: center;
            /* 32px - 40px */
            margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
            /* 40px - 48px */
            margin-bottom: clamp(2.5rem, 4vw, 3rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            height: initial;
            margin-bottom: calc(16 / 16 * 1rem);
        }

        .cs-button-transparent {
            font-size: calc(16 / 16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            width: calc(180 / 16 * 1rem);
            /* 46px - 56px */
            height: clamp(2.875em, 5.5vw, 3.5em);
            margin: 0 calc(8 / 16 * 1rem);
            box-sizing: border-box;
            padding: 0;
            color: #fff;
            background-color: transparent;
            border: 1px solid var(--bodyTextColorWhite);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                background: #000;
                opacity: 1;
                display: block;
                position: absolute;
                /* so it sits on top of the border */
                top: -1px;
                right: -1px;
                bottom: -1px;
                left: -1px;
                z-index: -1;
                /* this is what creates the grow affect on hover */
                transform: scaleX(0);
                transition: transform 0.3s;
                transform-origin: left;
            }

            &:hover {
                &:before {
                    transform: scaleX(1);
                }
            }

            .cs-img {
                margin-right: calc(12 / 16 * 1rem);
                display: block;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
    #hero {
        /* 32px - 40px */
        padding: 0 clamp(2em, 5vw, 2.5em);

        .cs-container {
            padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
            &:after {
                /* Right Line */
                content: "";
                width: 1px;
                height: 100%;
                background: -moz-linear-gradient(
                    top,
                    rgba(250, 251, 252, 0) 0%,
                    rgba(250, 251, 252, 0.5) 100%
                ); /* FF3.6-15 */
                background: -webkit-linear-gradient(
                    top,
                    rgba(250, 251, 252, 0) 0%,
                    rgba(250, 251, 252, 0.5) 100%
                ); /* Chrome10-25,Safari5.1-6 */
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .cs-button-solid {
            margin-right: calc(20 / 16 * 1rem);
            margin-bottom: 0;
        }
    }
}

/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25em) {
    #hero {
        background: url("/assets/images/landing.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* creates parallax effect on background image */
        background-attachment: fixed;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {
        #hero {
            .cs-background {
                &:before {
                    opacity: 0.8;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-690 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex-group {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-color {
            color: var(--primary);
        }
        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            row-gap: calc(16 / 16 * 1rem);
        }

        .card {
            list-style: none;
            background-color: var(--primary);
            padding: clamp(1.25rem, 4vw, 2.5rem) calc(24 / 16 * 1rem);
            box-sizing: border-box;
            transition:
                background-color 0.3s,
                transform 0.3s,
                box-shadow 0.3s;

                &:hover {
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
                    transform: translateY(calc(-7 / 16 * 1rem));

                    .picture {
                        &:before {
                            width: 100%;
                            height: 100%;
                            opacity: 1;
                        }
                    }
                }    
        }

        .cs-item {
            list-style: none;
            width: 100%;
            border-radius: 1em;
            /* 24px - 40px top & bottom */
            padding: clamp(1.25rem, 4vw, 2.5rem) calc(24 / 16 * 1rem);
            background-color: #f7f8f8;
            box-sizing: border-box;
            transition:
                background-color 0.3s,
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                background-color: #fff;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
                transform: translateY(calc(-7 / 16 * 1rem));

                .cs-picture {
                    &:before {
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                    }
                }
            }

            .cs-picture {
                margin-bottom: 2em;
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-690 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-flex-group {
            width: 50%;
        }

        .cs-card-group {
            /* pushes down the same amount the 2nd cards are translated down to maintain the even spacing at the bottom of the cs-card-group */
            margin-bottom: calc(40 / 16 * 1rem);
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            width: 30vw;
            max-width: calc(413 / 16 * 1rem);
            &:nth-of-type(2) {
                transform: translateY(calc(40 / 16 * 1rem));

                &:hover {
                    /* make these cards a separate hover translate amount, they're already translated 40px down, so to match the same hover animations as the other cards we just subtract their translate values from the 40px and they will move up by the same amount as the other cards */
                    transform: translateY(calc(33 / 16 * 1rem));
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-690 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
            }
        }
    }
}

                                